root = true

[*]
charset = utf-8
end_of_line = crlf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 4

[*.{cjs,json,yml}]
indent_size = 2

[*.md]
trim_trailing_whitespace = false

[Data/Native/{AtlasLoot-source.lua,AtlasLoot-LICENSE.txt,LootReference.lua}]
charset = unset
end_of_line = unset
insert_final_newline = unset
trim_trailing_whitespace = unset
indent_style = unset
indent_size = unset
